# Realizamos la importacion del archivo Parquet

In [1]:
import pandas as pd

In [2]:
df_propiedades = pd.read_parquet('./train.parquet')

# Realizamos exploracion de los datos

In [3]:
df_propiedades.head(2)

,id,url,region,region_url,price,type,sqfeet,beds,baths,cats_allowed,...,wheelchair_access,electric_vehicle_charge,comes_furnished,laundry_options,parking_options,image_url,description,lat,long,state
0,7048013474,https://boise.craigslist.org/apa/d/very-nice-b...,boise,https://boise.craigslist.org,1350,house,1200,2,2.0,1,...,0,0,0,w/d in unit,detached garage,https://images.craigslist.org/00B0B_cPiJMEheZe...,Super cute row house in the Boise bench area. ...,43.5851,-116.225,id
1,7043931179,https://cosprings.craigslist.org/apa/d/colorad...,colorado springs,https://cosprings.craigslist.org,1115,apartment,694,1,1.0,1,...,0,0,0,w/d in unit,carport,https://images.craigslist.org/00R0R_5XAoSKvfrz...,Windtree Apartment Homes currently has a spaci...,38.9137,-104.780,co

In [4]:
df_propiedades.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 346479 entries, 0 to 346478
Data columns (total 22 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   id                       346479 non-null  int64
 1   url                      346479 non-null  object
 2   region                   346479 non-null  object
 3   region_url               346479 non-null  object
 4   price                    346479 non-null  int64
 5   type                     346479 non-null  object
 6   sqfeet                   346479 non-null  int64
 7   beds                     346479 non-null  int64
 8   baths                    346479 non-null  float64
 9   cats_allowed             346479 non-null  int64
 10  dogs_allowed             346479 non-null  int64
 11  smoking_allowed          346479 non-null  int64
 12  wheelchair_access        346479 non-null  int64
 13  electric_vehicle_charge  346479 non-null  int64
 14  comes_furnished          346479 non-null  int64
 15  laundry_options          275308 non-null  object
 16  parking_options          219797 non-null  object
 17  image_url                346479 non-null  object
 18  description              346477 non-null  object
 19  lat                      344757 non-null  float64
 20  long                     344757 non-null  float64
 21  state                    346479 non-null  object
dtypes: float64(3), int64(10), object(9)
memory usage: 58.2+ MB

In [5]:
df_propiedades.describe()

,id,price,sqfeet,beds,baths,cats_allowed,dogs_allowed,smoking_allowed,wheelchair_access,electric_vehicle_charge,comes_furnished,lat,long
count,3.464790e+05,3.464790e+05,3.464790e+05,346479.000000,346479.000000,346479.000000,346479.000000,346479.000000,346479.00000,346479.000000,346479.000000,344757.000000,344757.000000
mean,7.040988e+09,9.664420e+03,1.066326e+03,1.903189,1.480339,0.726803,0.707861,0.731738,0.08197,0.012792,0.048141,37.234363,-92.705415
std,8.802214e+06,4.703573e+06,2.018537e+04,3.162685,0.608246,0.445602,0.454746,0.443055,0.27432,0.112374,0.214065,5.550956,16.551071
min,7.003808e+09,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,-43.533300,-163.894000
25%,7.035988e+09,8.050000e+02,7.500000e+02,1.000000,1.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,33.453100,-100.784000
50%,7.043325e+09,1.036000e+03,9.490000e+02,2.000000,1.000000,1.000000,1.000000,1.000000,0.00000,0.000000,0.000000,37.650100,-87.710800
75%,7.048431e+09,1.395000e+03,1.150000e+03,2.000000,2.000000,1.000000,1.000000,1.000000,0.00000,0.000000,0.000000,41.137900,-81.174600
max,7.051292e+09,2.768307e+09,8.388607e+06,1100.000000,75.000000,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,102.036000,172.633000

### Despues de un analisis exploratorio inicial procedemos a borar las columnas, url, region_url, image_url ya que estas urls no brindan informacion relevante para el modelo

In [6]:
df_propiedades.drop(['url','region_url','image_url'], axis=1, inplace=True)

### Realizamos una segunda exploracion mas detallada

In [7]:
df_propiedades.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 346479 entries, 0 to 346478
Data columns (total 19 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   id                       346479 non-null  int64
 1   region                   346479 non-null  object
 2   price                    346479 non-null  int64
 3   type                     346479 non-null  object
 4   sqfeet                   346479 non-null  int64
 5   beds                     346479 non-null  int64
 6   baths                    346479 non-null  float64
 7   cats_allowed             346479 non-null  int64
 8   dogs_allowed             346479 non-null  int64
 9   smoking_allowed          346479 non-null  int64
 10  wheelchair_access        346479 non-null  int64
 11  electric_vehicle_charge  346479 non-null  int64
 12  comes_furnished          346479 non-null  int64
 13  laundry_options          275308 non-null  object
 14  parking_options          219797 non-null  object
 15  description              346477 non-null  object
 16  lat                      344757 non-null  float64
 17  long                     344757 non-null  float64
 18  state                    346479 non-null  object
dtypes: float64(3), int64(10), object(6)
memory usage: 50.2+ MB

### Eliminamos columnas redundantes, contamos con region, state, Long y Lat deteminamos eliminar region y state, quedarnos con Long y Lat

In [8]:
df_propiedades.drop(['region','state'], axis=1, inplace=True)

### Realizamos una verificacion de la columna 'description' y notamos que es un tecuento de los atributos de las demas variable

In [9]:
df_propiedades.drop(['description'], axis=1, inplace=True)

### Eleminamos valores duplicados

In [10]:
df_propiedades = df_propiedades.drop_duplicates()

In [11]:
df_propiedades.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 346479 entries, 0 to 346478
Data columns (total 16 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   id                       346479 non-null  int64
 1   price                    346479 non-null  int64
 2   type                     346479 non-null  object
 3   sqfeet                   346479 non-null  int64
 4   beds                     346479 non-null  int64
 5   baths                    346479 non-null  float64
 6   cats_allowed             346479 non-null  int64
 7   dogs_allowed             346479 non-null  int64
 8   smoking_allowed          346479 non-null  int64
 9   wheelchair_access        346479 non-null  int64
 10  electric_vehicle_charge  346479 non-null  int64
 11  comes_furnished          346479 non-null  int64
 12  laundry_options          275308 non-null  object
 13  parking_options          219797 non-null  object
 14  lat                      344757 non-null  float64
 15  long                     344757 non-null  float64
dtypes: float64(3), int64(10), object(3)
memory usage: 44.9+ MB

### Realizamos validacion de las propiedades que tiene valores de 0, determinamos que podrian generar sesgo en el modelo y las eliminamos

In [12]:
verificar = df_propiedades.price == 0

In [13]:
df_propiedades[verificar].count()

id                         1175
price                      1175
type                       1175
sqfeet                     1175
beds                       1175
baths                      1175
cats_allowed               1175
dogs_allowed               1175
smoking_allowed            1175
wheelchair_access          1175
electric_vehicle_charge    1175
comes_furnished            1175
laundry_options             996
parking_options             824
lat                        1167
long                       1167
dtype: int64

In [14]:
## Realizamos la eliminacion de los valores 0 de la columna price
df_propiedades.drop(df_propiedades[(df_propiedades['price'] == 0)].index, inplace=True)

### Verificamos variable 'laundry_options' una de la variables con mas nulos, y determinamos

In [15]:
df_propiedades['laundry_options'].isnull().sum()

70992

In [16]:
df_propiedades['laundry_options'].value_counts()

w/d in unit           118254
w/d hookups            67807
laundry on site        52599
laundry in bldg        32375
no laundry on site      3277
Name: laundry_options, dtype: int64

### Verificamos variable 'parking_options' una de la variables con mas nulos, y determinamos

In [17]:
df_propiedades['parking_options'].isnull().sum()

126331

In [18]:
df_propiedades['parking_options'].value_counts()

off-street parking    115185
attached garage        36328
carport                34818
detached garage        15266
street parking         14358
no parking              2875
valet parking            143
Name: parking_options, dtype: int64

### Elaboro dos dataset, uno dejando los valores nulos y el otro borardo los valores nulos para verificar un mejor modelo

In [19]:
df_sinull = df_propiedades.dropna()

In [20]:
df_sinull.head(2)

,id,price,type,sqfeet,beds,baths,cats_allowed,dogs_allowed,smoking_allowed,wheelchair_access,electric_vehicle_charge,comes_furnished,laundry_options,parking_options,lat,long
0,7048013474,1350,house,1200,2,2.0,1,1,1,0,0,0,w/d in unit,detached garage,43.5851,-116.225
1,7043931179,1115,apartment,694,1,1.0,1,1,1,0,0,0,w/d in unit,carport,38.9137,-104.780

# Pasamos a realizar las normalizaciones de las variables,\\ 
## Vamos a realizar una funcion para realizar las normalizaciones de los dataset

In [21]:
## Importamos la libreria sklearn para realizar procesos de normalizacion 
import numpy as np
import matplotlib.pyplot as plt
import sklearn 
import seaborn as sns

In [22]:
def transform(dataset):
    ## importamos libreria para realizar normalizacion
    from sklearn import preprocessing

    ## declaramos la variable LabelEncoder para realizar las transformaciones
    le = preprocessing.LabelEncoder()

    ## Aplicamos las transformaciones a las variables, Type, laundry_options, parking_options
    dataset['type_le'] = le.fit_transform(dataset['type'])
    dataset['laundry_options_le'] = le.fit_transform(dataset['laundry_options'])
    dataset['parking_options_le'] = le.fit_transform(dataset['parking_options'])

    ## Eliminamos las columnas de la cuales himos las normalizaciones
    dataset.drop(['id','type','laundry_options','parking_options'], axis=1, inplace=True)
    df_sinull.drop(['lat','long'], axis=1, inplace=True)

    ##Creamos la nueva columna category_price donde definimos los valores de la variable, solicitados
    ## low = 1
    ## not low = 0
    

    return dataset

## Utilizamos nuestra funcion transform para nuestros dataset

In [23]:
df_sinull = transform(df_sinull)

C:\Users\crist\AppData\Local\Temp\ipykernel_8172\986432791.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['type_le'] = le.fit_transform(dataset['type'])
C:\Users\crist\AppData\Local\Temp\ipykernel_8172\986432791.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['laundry_options_le'] = le.fit_transform(dataset['laundry_options'])
C:\Users\crist\AppData\Local\Temp\ipykernel_8172\986432791.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['parking_options_le'] = le.fit_transform(dataset['parking_options'])
C:\Users\crist\AppData\Local\Temp\ipykernel_8172\986432791.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset.drop(['id','type','laundry_options','parking_options'], axis=1, inplace=True)
C:\Users\crist\AppData\Local\Temp\ipykernel_8172\986432791.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sinull.drop(['lat','long'], axis=1, inplace=True)

### verificamos si nuestra variable objetivo se encuentra balanceada

### vamos a realizar un mapa de correlaciones para mirar las distribuciones de las variables

In [24]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
sns.set()

In [25]:
df_corr_sinull = df_sinull[['sqfeet','beds','baths','smoking_allowed','wheelchair_access','type_le','laundry_options_le',
       'parking_options_le']]

In [26]:
from sklearn.cluster import KMeans
df_nosuper = KMeans(n_clusters=3, random_state=42)
df_nosuper.fit(df_corr_sinull)
etiquetas_1 = df_nosuper.labels_
centros_1 = df_nosuper.cluster_centers_

C:\Users\crist\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\sklearn\cluster\_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(

In [27]:
clusters = pd.DataFrame(data=df_nosuper.cluster_centers_, columns=['sqfeet','beds','baths','smoking_allowed','wheelchair_access','type_le','laundry_options_le',
       'parking_options_le'])

In [28]:
clusters

,sqfeet,beds,baths,smoking_allowed,wheelchair_access,type_le,laundry_options_le,parking_options_le
0,1.011204e+03,1.924075,1.478928,0.643173,1.039170e-01,1.483852,2.646430,2.777191
1,8.194304e+06,2.000000,1.000000,0.500000,0.000000e+00,0.000000,0.000000,3.000000
2,9.692538e+05,2.166667,1.666667,0.666667,1.387779e-17,2.000000,1.666667,2.500000

In [29]:
df_test = pd.read_parquet('./test.parquet')

In [30]:
def data_test(df_test):
    df_test.drop(['url','region_url','image_url'], axis=1, inplace=True)
    df_test.drop(['region','state'], axis=1, inplace=True)
    df_test.drop(['description'], axis=1, inplace=True)
    from sklearn import preprocessing
    le = preprocessing.LabelEncoder()
    df_test['type_le'] = le.fit_transform(df_test['type'])
    df_test['laundry_options_le'] = le.fit_transform(df_test['laundry_options'])
    df_test['parking_options_le'] = le.fit_transform(df_test['parking_options'])
    df_test.drop(['id','type','laundry_options','parking_options'], axis=1, inplace=True)
    df_test.drop(['lat','long'], axis=1, inplace=True)
    df_test = df_test[['sqfeet','beds','baths','smoking_allowed','wheelchair_access','type_le','laundry_options_le',
       'parking_options_le']]
    
    return df_test

In [31]:
df_test = data_test(df_test)
test_pred = df_nosuper.predict(df_test)
pred_csv = pd.DataFrame(test_pred)
pd.DataFrame(pred_csv).to_csv('Alemax019.csv', index=False, header = False)

In [32]:
pred_csv[0].unique()

array([0])